.feedback-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 24px;
  padding-left: 24px;
}

.feedback-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
}

.feedback-email {
  padding-bottom: 8px;
}

.feedback-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: block;
}

.feedback-input:hover {
  border: 1px solid #000000;
}

.feedback-message {
  padding-bottom: 8px;
}

.feedback-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  display: block;
  margin-bottom: 16px;
}

.feedback-textarea:hover {
  border: 1px solid #000000;
}

.modal-btn {
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  color: #ffff;
  background: #4e75ff;
  cursor: pointer;
  display: block;
}

.modal-btn:hover {
  background-color: #6c8cff;
}
